@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&family=Ubuntu&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .tab-active {
    @apply block  
  }

  .tab-header {
    @apply font-grotesk font-bold text-xs border-l-[1px] border-r-[1px] border-t-[2px] min-w-24 px-2 md:min-w-36 py-4 text-center cursor-pointer rounded-md
  }

  .tab-header h6  {
    @apply my-auto
  }

  .tab-inactive {
    @apply hidden
  }

  .header-active {
    @apply tab-header text-indigo-500 bg-indigo-50 border-indigo-500 border-[1px]
  }

  .header-inactive {
    @apply tab-header text-indigo-500 border-0 hover:text-indigo-500 hover:bg-indigo-50 hover:border-indigo-500 hover:border-[1px] transition-all duration-150
  }

  input {
    @apply rounded-md border-indigo-500 border-[1px] px-2 py-2 outline-none font-grotesk text-sm text-gray-500
  }

  button {
    @apply bg-indigo-500 hover:bg-indigo-600 hover:scale-105 px-4 py-2 rounded-md text-white font-grotesk transition-all duration-200 max-h-12 mt-auto
  }

  label {
    @apply text-xs font-grotesk ml-2 mb-1
  }

  input, label {
    @apply block;
  }

  tr {
    @apply gap-x-2 py-4 flex border-b-[1px] border-indigo-100
  }

  th {
    @apply text-left text-indigo-500 font-grotesk text-sm 
  }

  input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}